html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.head {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.roomsOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}
.roomsInnerContainer {
    width: 20%;
}

.mt-20 {
    margin-top: 20px;
  }

.room-btn {
    background-color: peru;
    color: #fff;  
    transition-duration: 0.4s;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.room-btn:hover {
    background-color: white; /* Green */
    color: peru;
  }

.make-btn {
    background-color: #008CBA;
    color: #fff;  
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.make-btn:hover {
    background-color: white; /* Green */
    color: #008CBA;
}